body {
  background-color: crimson;
}
h1 {
  color: red;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  background-color: black;
}
h2 {
  color: darkmagenta;

  font-family: Georgia, 'Times New Roman', Times, serif;

  background-color: dimgray;
}
p {
  color: deeppink;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: darkblue;
}